*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pre-game-container {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto 50px auto;
  padding: 0 10px;
}

.pre-game-box {
  margin: 20px auto 50px auto;
  min-height: 400px;
  max-height: 500px;
  width: 390px;
  padding-bottom: 10px;
  border-radius: 15px;
  border: 2px solid darkgrey;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(26, 104, 26);
}

#player-name-title {
  text-align: center;
  margin-top: 40px;
  color: white;
}

#name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-input {
  margin-top: 30px;
  height: 35px;
  width: 200px;
  font-size: 1.2rem;
  background-color: rgb(155, 155, 177);
  padding: 0 10px;
  border: none;
}


#name-set-button {
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: rgb(211, 211, 211);
}

#leg-set-input {
  margin-top: 20px;
  height: 35px;
  width: 80px;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(211, 211, 211);
}

#leg-text {
  font-size: 1.2rem;
}

#add-remove-player-button {
  width: 140px;
}

.score-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#score-box {
  margin: 50px 10px 0 10px;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  border: 2px solid darkgrey;
  background-color: rgb(26, 104, 26);
  color: white;
}

.score-input {
  margin: 65px 0;
  border: none;
  background-color: rgb(155, 155, 177);
  height: 35px;
  width: 120px;
  font-size: 1.2rem;
}

.button {
  height: 35px;
  width: 120px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
  font-size: 1.2rem;
  cursor: pointer;
}

.start-score-button {
  background-color: rgb(179, 81, 81);
  color: black;
}

.game-button {
  font-size: 1.5em;
  color: white;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35px;
  background-color: rgb(26, 104, 26);
  text-decoration: none;
  width: 80px;
  border: 2px solid darkgrey;
}

.game-button:visited {
  color: white;
}

.set-player {
  background-color: rgb(194, 182, 19);
  color: black;
}

.player-title {
  margin-top: 30px;
  font-size: 2rem;
}

.score-display {
  font-size: 38px;
  margin-top: 40px;
  text-align: center;
  padding: 0 10px;
}

#score-button1 {
  margin-top: 10px;
  color: black;
  width: 140px;
}

#score-track-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#leg-score-tracker {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 5px;
  display: none;
}

#leg-set-input {
  margin-top: 30px;
}

#leg-text {
  margin-top: 5px;
  color: white;
}

.not-displayed {
  display: none;
  opacity: 0;
  scale: 0;
  width: 0;
}

.is-displayed {
  display: block;
  opacity: 1;
  scale: 1;
  width: 400px;
}
